/* canvas */
.canvas{
    border:1px black dotted;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

#canvas-draft{
    background-color: transparent;
}
body{
    overflow:hidden;
}
#canvas-container{
    height: 500px;
}  

/* this is for color picker */
/*  Warren --Specific to color picker styles*/
#color-input {
    display: none;
  }
  #color-label {
    float:left;
    top:20px;
    margin-left: 15px;
  position: absolute;  
    height: 30px;
    width: 50px;
  } 
  #color-input:checked ~ #color-picker {
    opacity: 1;
  }
  #color-picker {
  position: absolute; 
    float:left;
    top:20px;
    left: 70px; 
    background-color: white;
    height: 150px;
    width: 185px;
    border: solid 1px #ccc;
    opacity: 0;
    padding: 5px;
  }
  #color-block{
    float:left;
  }
  #color-strip{
      position:absolute;
    float:right;
  }
  /* End of color picker styling*/